Cliente-Python/arquivo.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">
    <xs:element name="pessoa">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="nome" type="xs:string"/>
            <xs:element name="idade" type="xs:integer"/>
            <xs:element name="cpf" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
    </xs:element>
</xs:schema>